/*
Error: Inconsistent indentation: 2 spaces were used for indentation, but the rest of the document was indented using 1 tab.
        on line 26 of D:\Vlad\landing-page\wordpress-landing-page-lesson\__clean_html_original\css\sass\main.sass

21: 
22: .hidden
23: 	display: none
24: 
25: .main_head
26:   background: silver;
27:   width:1000px;
28:   height:300px;

Backtrace:
D:\Vlad\landing-page\wordpress-landing-page-lesson\__clean_html_original\css\sass\main.sass:26
D:/Vlad/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:473:in `block in tabulate'
D:/Vlad/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:431:in `each'
D:/Vlad/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:431:in `each_with_index'
D:/Vlad/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:431:in `tabulate'
D:/Vlad/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:396:in `_to_tree'
D:/Vlad/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
D:/Vlad/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
D:/Vlad/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
D:/Vlad/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
D:/Vlad/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
D:/Vlad/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
D:/Vlad/Koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
D:/Vlad/Koala/bin/sass:18:in `load'
D:/Vlad/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: 2 spaces were used for indentation, but the rest of the document was indented using 1 tab.\A         on line 26 of D:\Vlad\landing-page\wordpress-landing-page-lesson\__clean_html_original\css\sass\main.sass\A \A 21: \A 22: .hidden\A 23: 	display: none\A 24: \A 25: .main_head\A 26:   background: silver;\A 27:   width:1000px;\A 28:   height:300px;"; }
